

@mixin efecto {
   transform: scale(1.2);
}

@mixin transicion {
    transition: all .4s ease-in-out;
}

@mixin banner-txt {
    font-weight: bold;
    list-style: none;
    text-align: center;

}

@mixin sombra {
    text-shadow: 3px 3px 6px rgba(0,0,0, .5);
}