

// VARIABLES ESTRUCTURAS

$variable-flex: flex;
$variable-grid: grid;

$variable-padding-top: 90px;
$variable-padding-bottom: 15px;


// VARIABLES CARD

$card-borderRadius: 10px;
$card-padding: 20px;




